<section class="o_cards grid"
	{{#if section_id}}
	 id="{{section_id}}"
	{{/if}}>
	<div class="col-12">
		{{> m_section_title }}
	</div>
	{{#each items}}
	<{{#if href}}a href="{{href}}"{{else}}div{{/if}} class="card col-3{{#unless a_image.src}} card--no-image{{/unless}}">
		{{> a_image }}
		{{> a_h3 }}
		{{> a_description }}
	</{{#if href}}a{{else}}div{{/if}}>
	{{/each}}
</section>
