{{#if a_image_cover.src}}
<div class="a_image_cover">
	<img
		 src="{{a_image_cover.src}}"
		 alt="{{a_image_cover.alt}}"
		 {{#if a_image_cover.fetchpriority}} fetchpriority="{{a_image_cover.fetchpriority}}"{{/if}}
		 {{#if a_image_cover.loading}} loading="{{a_image_cover.loading}}"{{/if}}
	 />
</div>
{{/if}}
