.o_howto {

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: step;
	}

	li {
		counter-increment: step;
		display: grid;
		grid-template-columns: 2rem 1fr;
		background: var(--bg_surface);
		border-radius: var(--radius-sm);
		padding: 1rem 1.5rem;
		text-wrap: balance;

		&:not(:last-child) {
			margin-bottom: .75rem;
		}

		&::before {
			content: counter(step) ".";
			grid-row: span 2;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.2;
			color: var(--color_text-muted);
		}
	}

	.a_h3 {
		font-size: 1rem;
	}

	li > div {
		min-width: 0;
	}

	li p {
		margin: .25rem 0 0;
		color: var(--color_text-muted);
	}
}
